html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #0B0D17;
  font-family: "Barlow", sans-serif;
  color: #FFFFFF;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  color: #FFFFFF;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  color: #D0D6F9;
  letter-spacing: 4.75px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.logo {
  width: 2.5rem;
  height: auto;
}

@media (min-width: 48em) {
  .logo {
    width: 3rem;
  }
}

.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  z-index: 10;
}

@media (min-width: 48em) {
  .hamburger {
    display: none;
  }
}

.hamburger .bar {
  display: block;
  width: 1.5rem;
  height: 0.1875rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #D0D6F9;
}

.hamburger .bar:not(:last-child) {
  margin-bottom: 0.375rem;
}

.hamburger.open .bar:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.nav-link {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  position: relative;
}

@media (min-width: 48em) {
  .nav-link {
    font-size: 0.875rem;
    letter-spacing: 2.36px;
  }
}

@media (min-width: 62em) {
  .nav-link {
    font-size: 1rem;
    letter-spacing: 2.7px;
  }
}

.nav-link .nums {
  margin-right: 0.6875rem;
  font-weight: 700;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 70%;
  z-index: 5;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(0.625rem);
          backdrop-filter: blur(0.625rem);
}

.mobile-nav.open {
  right: 0;
}

@media (min-width: 48em) {
  .mobile-nav {
    display: none;
  }
}

.mobile-menu {
  margin: 7.375rem 0 0 2rem;
}

.mobile-menu li:not(:last-child) {
  margin-bottom: 1.25rem;
}

.mobile-menu .nav-link {
  display: block;
  line-height: 30px;
}

.mobile-menu .nav-link:hover {
  border-right: 4px solid #D0D6F9;
}

.mobile-menu .nav-link.active {
  border-right: 4px solid #FFFFFF;
}

.desktop-nav {
  display: none;
}

@media (min-width: 48em) {
  .desktop-nav {
    display: block;
  }
}

.desktop-nav .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */