*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: white;
  background-color: #0c0e18;
  overflow-x: hidden;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
}

a span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 87.5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
}

@media (min-width: 48em) {
  header {
    padding: 0 0 0 2.5rem;
  }
  header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -1.5rem;
    background-color: #d2d8f9;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 64em) {
  header {
    padding: 2.5rem 0 0 3.4375rem;
  }
}

header div {
  margin-right: 2.5rem;
}

.logo {
  width: 2.5rem;
  height: auto;
}

@media (min-width: 48em) {
  .logo {
    width: 3rem;
    margin-right: 2.5rem;
  }
}

.nav-toggle {
  display: block;
  position: absolute;
  z-index: 100;
  right: 1.5rem;
  background: transparent;
  border: 0;
  background-image: url(../assets/shared/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
}

@media (min-width: 48em) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle[aria-expanded="true"] {
  background-image: url(../assets/shared/icon-close.svg);
}

.nav-link {
  line-height: 2rem;
  font-size: 1rem;
}

@media (min-width: 48em) {
  .nav-link {
    line-height: 5.75rem;
    font-size: 0.875rem;
  }
}

@media (min-width: 64em) {
  .nav-link {
    font-size: 1rem;
  }
}

@media (max-width: 63.9375em) {
  .nav-link span {
    display: none;
  }
}

.nav-link.active {
  border-right: 4px solid white;
}

@media (min-width: 48em) {
  .nav-link.active {
    border-right: none;
    border-bottom: 4px solid white;
  }
}

.nav-link:hover {
  border-right: 4px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 48em) {
  .nav-link:hover {
    border-right: none;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 47.9375em) {
  .nav-menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
    margin: 0;
    padding: 7rem 0 0 2rem;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(0.625rem);
            backdrop-filter: blur(0.625rem);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .nav-menu[data-visible="true"] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-menu li {
    margin-bottom: 1.625rem;
  }
  .nav-menu .nav-link {
    display: block;
  }
  .nav-menu .nav-link span {
    display: inline-block;
  }
}

@media (min-width: 48em) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0 2.875rem;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(0.625rem);
            backdrop-filter: blur(0.625rem);
  }
  li:not(:last-child) {
    margin-right: 2.3125rem;
  }
  .nav-link {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */