header{
    @include for-flex-aic-jcsb;
    // padding: 1.5rem;
}

//logo
.logo{
    width: 2.5rem;

    @include for-tablet-portrait-up{
        width: 3rem;
    }
}

//menu button
.nav-toggle{
    display: block;
    position: absolute;
    z-index: 100;
    right: 1rem;
    background: transparent;
    border: 0 ;
    background-image: url(../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;

    @include for-tablet-portrait-up{
        display: none;
    }

    &[aria-expanded="true"]{
        background-image: url(../assets/shared/icon-close.svg);
    }
}



//nav menu
@include for-phone-down{
    .nav-menu{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        margin: 0;
        // padding: 
        @include for-backdrop;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    
        &[data-visible="true"] {
            transform: translateX(0);
        }
    
        .nav-link{
            display: block;
            line-height: 2rem;
    
            &.active{
                border-right: 4px solid $active;
            }
    
            &:hover{
                border-right: 4px solid $hover;
            }
        }
    }
}

